
body{
	font-size:17px;

}

a {
	color:black;
}

a:hover{
	color:black;
}

img{
	display:block;
	margin:auto;
	padding:5px;
}

.nav-bar-left{
	position:fixed;
	top:15px;
	left:20px;
	z-index:2000;
	font-weight:bold;
}

.nav-bar-right{
	position:fixed;
	top:15px;
	right:20px;
	text-align: right;
	z-index: 2000;
    font-weight:bold;
}

.blurb{
	font-size:16px;
	font-weight:normal;
	position:fixed;
	left:20px;
	top: 50px;
	z-index:1000;
}

.italicized{
	font-style: italic;
}

.index-padding{
	padding:10px;
}

.small-padding{
	padding:6px;
}

.underline{
	text-decoration: underline;
}

.credit{
	position:fixed;
	bottom:8px;
	font-size:12px;
	left:20px;
}

video{
	display:block;
	margin: 0 auto;
}
